{
  "globals": {
    "$": false,
    "THREE": false,
    "WebVRSetting": true,
    "winodw": false,
    "document": true,
    "WEBVR": true,
    "WebMR": false,
    "camera_controller"
  },
  "indent": ["error", 2],
  "rules": {
    "linebreak-style": 0,
    "no-unused-vars": 0
  }
}
